<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="uk-section-primary uk-preserve-color">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/Home">Forum</a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a class="uk-navbar-toggle"
                           asp-controller="Topic"
                           asp-action="Index">
                            Search
                        </a>
                    </li>
                    <li>
                        <a class="uk-navbar-toggle" 
                           asp-controller="Topic"
                           asp-action="Create">
                            Create
                        </a>
                    </li>
                    <li><a class="uk-navbar-toggle" 
                           asp-controller="Topic"
                           asp-action="Featured">Featured</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="uk-iconnav">
                        <li>
                            <a asp-controller="User"
                               asp-action="Index">
                                <span class="uk-icon uk-margin-small-right uk-icon-link" uk-icon="icon: user; ratio: 1.5"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="uk-icon uk-margin-small-right uk-icon-link" uk-icon="icon: sign-out; ratio: 1.5"></span>
                            </a>
                        </li>
                    </ul>
                } else {
                    <ul class="uk-iconnav">
                        <li>
                            <a asp-controller="Account"
                               asp-action="Login">
                                <span class="uk-icon uk-margin-small-right uk-icon-link" uk-icon="icon: sign-in; ratio: 1.5"></span>
                            </a>
                        </li>
                    </ul>  
                }
            </div>
        </nav>
    </div>
    
    <div class="uk-flex uk-flex-center">
        @RenderBody()
    </div>

    <!-- UIkit JS -->
    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
