@model Forum.ViewModel.ChangePasswordViewModel

<div class="uk-flex uk-flex-center uk-width-1-1">
    <div class="uk-background-muted uk-padding uk-margin-medium-top">
        <form asp-action="ChangePassword" asp-controller="Account">
            <legend class="uk-legend">Change password</legend>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input asp-for="OldPassword" class="uk-input" type="password" placeholder="Old password" minlength="6" required>
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input asp-for="NewPassword" class="uk-input" type="password" placeholder="New password" minlength="6" required>
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input asp-for="NewPasswordRepeat" class="uk-input" type="password" placeholder="Repeat new password" minlength="6" required>
                </div>
            </div>
            @if (Model.Error != null)
            {
                <div class="uk-margin uk-text-center">
                    <p class="uk-text-danger">@Model.Error</p>
                </div>
            }
            <div class="uk-margin uk-text-center">
                <button type="submit" class="uk-button uk-button-primary">Change</button>
            </div>

        </form>
    </div>
</div>
