
@{
    ViewData["Title"] = "Created";
}
<div class="uk-flex uk-flex-center uk-width-1-1">
    <div class="uk-background-muted uk-padding uk-margin-medium-top">
        <h3>Verify your account</h3>
        <p>To complete registration, you need to confirm your email address. An email with a confirmation link has been sent. Please check your email account.</p>
    </div>
</div>