
<div class="uk-flex uk-flex-center">
    <div class="uk-background-muted uk-padding uk-margin-medium-top">
        <form>
            <legend class="uk-legend">Sign up</legend>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" placeholder="Username">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input" type="email" placeholder="Email">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="text" placeholder="Password">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon"></span>
                    <input class="uk-input" type="text" placeholder="Repeat password">
                </div>
            </div>

            <div class="uk-margin uk-text-center">
                <button type="submit" class="uk-button uk-button-primary">Create account</button>
            </div>

            <div class="uk-margin uk-text-center uk-text-small">
                <a href="#">Already have an account? Log in</a>
            </div>

        </form>
    </div>
</div>
