@model Forum.ViewModel.UserViewModel


<div class="uk-flex uk-flex-center uk-width-1-2">
    <ul class="uk-padding-small uk-background-muted uk-width-expand uk-margin-small-top uk-width-1-1" uk-accordion="multiple: true">
        <li class="uk-open">
            <a href="#" class="uk-accordion-title">Profile</a>
            <div class="uk-accordion-content">
                <div class="uk-text-center">
                    <img class="uk-border-circle" width="200" height="200" src="@Model.ImagePath" />
                </div>
                <hr />
                <form asp-controller="User" asp-action="UpdateProfile" class="uk-grid-small uk-margin-small-top" uk-grid>
                    <div class="uk-width-1-1@s">
                        <label for="name" class="uk-form-label">Name</label>
                        <input readonly asp-for="Name" class="uk-input" type="text" placeholder="Name" value="@Model.Name">
                    </div>
                    <div class="uk-width-1-1@s">
                        <label for="name" class="uk-form-label">About</label>
                        <textarea readonly asp-for="About" rows="3" class="uk-textarea" type="text" placeholder="About" value="@Model.About"></textarea>
                    </div>
                </form>
            </div>

        </li>
    </ul>
</div>


